{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index" : "visible",
  "query": {
    "expression": "visible = :visible and timest > :timest",
    "expressionValues": {
      ":visible" : { "S" : "y" },
      ":timest" : { "N": $context.arguments.timest }
    }
  },
  "nextToken": #if( $context.args.nextToken ) "$context.args.nextToken" #else null #end
}