#set($filter = {"expression": "#published = :published", "expressionNames": {"#published": "visible"}, "expressionValues": {":published": {"S": "y"}}})
#set($limit = $util.defaultIfNull($ctx.args.limit, 100))
#if($limit < 1 || $limit > 101)
  $util.error("limit must be between 1 and 101", "BadRequest")
#end
{
  "version": "2018-05-29",
  "operation": "Query",
  "index": "provider-timest",
  "limit": $limit,
  "scanIndexForward": false,
  "select": "ALL_PROJECTED_ATTRIBUTES",
  "query": { "expression": "#provider = :provider AND #timest > :timest", "expressionNames": { "#provider": "provider", "#timest": "timest" }, "expressionValues": { ":provider": $util.dynamodb.toDynamoDBJson($ctx.args.provider), ":timest": $util.dynamodb.toDynamoDBJson($ctx.args.timest) } },
  "filter": $util.toJson($filter),
  "nextToken": $util.toJson($util.defaultIfNull($ctx.args.nextToken, null))
}
