{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index" : "visible",
  "select" : "ALL_PROJECTED_ATTRIBUTES",
  "query" : {
    "expression" : "visible = :visible and timest = :ts",
    "expressionValues" : {
      ":visible" : { "S" : "y" },
      ":ts" : { "N" : 0 }
    }
  }
}
