{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index" : "visible",
  "limit" : 100,
  "scanIndexForward" : true,
  "query": {
    "expression" : "visible = :visible and timest > :timest",
    "expressionValues" : {
      ":visible" : { "S" : "$context.arguments.visible" },
      ":timest" : { "N": $context.arguments.timest }
    }
  },
  "nextToken": #if( $context.args.nextToken ) "$context.args.nextToken" #else null #end
}
