{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index" : "timest",
  "limit" : 100,
  "scanIndexForward" : false,
  "select" : "ALL_PROJECTED_ATTRIBUTES",
  "query" : {
    "expression" : "blogsource = :bs and timest > :ts",
    "expressionValues" : {
      ":bs" : {"S": "$context.arguments.blogsource"},
      ":ts" : {"N": $context.arguments.timest}
    }
  },
  "nextToken": #if( $context.args.nextToken ) "$context.args.nextToken" #else null #end
}